# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*.md]
trim_trailing_whitespace = false

[*.{ts,tsx}]
indent_style = space
indent_size = 2

[package.json]
indent_style = space
indent_size = 2
